<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopLink"
        tools:targetApi="31">
        <activity
            android:name=".ShopOrderSelectingPage"
            android:exported="false" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />

        <activity
            android:name=".SuppFullAcceptedOrderPage"
            android:exported="false" />
        <activity
            android:name=".SuppFullReceivedOrderPage"
            android:exported="false" />
        <activity
            android:name=".SuppReceivedAcceptedOrderPage"
            android:exported="false" />
        <activity
            android:name=".SupplierUserProfileView"
            android:exported="false" />
        <activity
            android:name=".SuppUpdateProductPage"
            android:exported="false" />
        <activity
            android:name=".QrScanner"
            android:exported="false" />
        <activity
            android:name=".SuppAddNewProductPage"
            android:exported="false" />
        <activity
            android:name=".ShopFooter"
            android:exported="false" />
        <activity
            android:name=".ShopHeader"
            android:exported="false" />
        <activity
            android:name=".SupplierFooter"
            android:exported="false" />
        <activity
            android:name=".SupplierHeader"
            android:exported="false" />
        <activity
            android:name=".SuppMyProductsPage"
            android:exported="false" />
        <activity
            android:name=".ShopSignUpPage"
            android:exported="false" />
        <activity
            android:name=".SupplierSignUpPage"
            android:exported="false" />
        <activity
            android:name=".UserSelectionPage"
            android:exported="false" />
        <activity
            android:name=".LogInPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>